<!DOCTYPE html>
<html>
  <head>
    <title>Enell Inc Jobs</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Vacancies at Enell Inc</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet enim tortor at auctor urna nunc id cursus. Dictum sit amet justo donec enim diam. Morbi tincidunt ornare massa eget egestas purus. Semper risus in hendrerit gravida. Auctor eu augue ut lectus arcu bibendum. Nibh praesent tristique magna sit amet purus. Et pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Suspendisse interdum consectetur libero id faucibus nisl tincidunt. Aliquam ultrices sagittis orci a. Posuere sollicitudin aliquam ultrices sagittis orci. Vitae semper quis lectus nulla at volutpat. Vestibulum sed arcu non odio euismod. Enim nunc faucibus a pellentesque sit. Quam quisque id diam vel quam elementum pulvinar etiam. Id cursus metus aliquam eleifend mi.</p>
   <img src= "https://flaskdashboard--enell261.repl.co/static/fnb%20logo.jfif" class='center'>
    <p>
      {% for job in jobs%}
        {% include 'jobitem.html' %}
      
      {% endfor %}
    </p>
  </body>
</html>  